* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  background-position: left;
  background-size: cover;
  background: radial-gradient(circle, #ffffff, #ffeedb 500px);
}

nav {
  display: flex;
  justify-content: space-between;
}

ul li {
  display: flex;
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
}

ul {
  display: flex;
}
.header-box {
  display: flex;
}

nav i {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.image img {
  height: 700px;
  width: 500px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.details-box {
  align-self: center;
}

.details-box h1 {
  font-size: 4rem;
  font-weight: 700;
}

.details-box p {
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 1rem 0;
}

button {
  background-color: #e25633;
  border-radius: 20px;
  color: white;
  outline: none;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.2s;
}

button:hover {
  opacity: 0.7;
}
